@media (orientation: landscape) {
  div.landing-page {
    padding-top:75px;
    padding-bottom:50px;
  }
}

h1.page-title {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #fff;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h1.page-title span {
    background:#000;
    color:#fff;
    padding:0 10px;
}


h3.beer-name, h4.beer-name {
  color: rgb(50,50,50);
}
h3.beer-name {
  margin-bottom:15px;
}
h4.beer-name {
  font-size:16px;
  margin-bottom:10px;
}
h1.page-name {
  color: #fff;
}
p.autobio-text {
  font-size:16px;
}

div.beer-row {
  margin: 25px 15px 15px 15px;
  padding:15px 15px 15px 15px;
  /*min-height:225px;*/
  color: #868685;
  background-color: #E5DFC5;
}
div.beer-row p {
  font-size:16px;
  margin-bottom:10px;
}

div.other-row {
  margin: 25px 15px 15px 15px;
  padding:15px 15px 15px 15px;
  color: #868685;
  background-color: #E5DFC5;
  min-height:100px;
}
div.other-row p {
  font-size:14px;
  margin-bottom:10px;
}

.fb-download-section-filter {
  display: inline-block;
  padding: 100px 0;
  height: 100%;
  width: 100%;
}

.fb-beers-brewery {
  margin-top: 50px;
}

.fb-featured-beer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mc-field-group {
  padding: 0px 2px 8px 2px;
}

.fb-email-name {
  margin-left: 2px;
}

.fb-subscription-input {
  color: #000;
  width: 95%;
  padding: 8px 5px;
  border-radius:0;
  border: 0px solid black;
}

.fb-subscription-submit {
  background-color: #fff;
  color: #000;
  width: 95%;
  padding: 8px 5px;
  border-radius:0;
  border: 0px solid black;
}

.events {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/derekEventsBackground.jpg) no-repeat bottom center scroll;
    /*background-color: #252120;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.event-container {
  margin:10px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
  font-size:20px;
  background-color:rgba(0,0,0,.6);
}
