/* Style for the body element */
body {
    font-family: 'Montserrat','Poppins', Arial, sans-serif; /* Arial is used as an example, you can choose any font */
    /* color: #FFFFFF; */
}

/* Style for label elements with the class 'control-label' */
.control-label {
    font-weight: 500;      /* Makes the font bold */
    color: black;         /* Sets the color, here it's a shade of gray */
    font-size: 12px;        /* Sets the font size */
    line-height: 20px;
    text-transform: uppercase;
}

/* Style for button elements */
button {
    background-color: #4CAF50;  /* Sets the background color, example here is a shade of green */
    color: white;               /* Sets the text color to white */
    padding: 10px 20px;         /* Adds padding inside the button */
    border: none;               /* Removes the border */
    border-radius: 4px;         /* Rounds the corners of the button */
    cursor: pointer;            /* Changes the cursor to a pointer when hovering over the button */
}

/* Additional style for the button when hovered over */
button:hover {
    background-color: #45a049;  /* Slightly darker shade of green for hover effect */
}
