html {
  height: 100%;
  width: 100%;
  background: url(bricks.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*@media (orientation: landscape) and (min-width: 800px) {
  html {
    background: url(bricks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (orientation: portrait) and (min-height: 737px) {
  html {
    background: url(bricks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}*/


body {
  height:100%;
  /*position: absolute;*/
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  background-color: rgba(50,50,50, .3);
  font-family: 'Montserrat';
}

#body-main {
  /*display:none;*/
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: 1;
}

#logo-main {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  max-width: 768px;
  z-index: 2;
}

#pouring-soon {
  position:relative;
  font-size: 18px;
  margin: 0;
  text-align: center;
  top: -90px;
  /*top: calc((125vw/16) + (125vw * .7) - 25vw);*/
  /*left: calc((100vw - 150px)/2);*/
  z-index: 2;
}

#instructions {
  position: relative;
  font-size: 14px;
  /*width: 295px;*/
  text-align: center;
  top: -70px;
  /*top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw);*/
  /*left: calc((100% - 295px)/2);*/
}

/*Email Subscription*/
form.wufoo {
  position: relative;
  color: #231D1E;
  top: -70px;
  /*top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw + 50px);*/
  left: calc((100% - 268px)/2);
  z-index: 2;
}
#foli1 {
  display: inline-block;
}
#Field2 {
  color: #231D1E;
  width: 199px;
  background-color: #fff;
  padding: 8px 14px;
  border: 1px solid #000;
  border-radius: 0px;
}
#submit-button {
  display: inline-block;
  background-color: #fff;
}
#saveForm {
  background-color: #fff;
  width: 65.5px;
  padding: 8px 14px;
  border-radius: 0px;
  border: 1px solid #000;
}
/*Email Subscription End*/

#social-media {
  position: relative;
  display: block;
  top: -55px;
  /*top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw + 100px);*/
  left: calc((100% - 68px)/2);
  z-index: 10;
}

hr {
  position:relative;
  padding: 0;
  margin: 0;
  border-color: #DE890A;
  border-width: .3em;
  border-radius: 3px;
  width: 22vw;
  top: -45px;
  /*top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw + 150px);*/
  left: calc((100% - 22vw)/2);
}

/*.hide {
  display: none;
  visibility: hidden;
}*/



@media (min-width: 768px) {
  #logo-main {
    /*top: -192px;*/
    left: calc((100% - 768px)/2);
  }

  #pouring-soon {
    top: -200px;
  }

  #instructions {
    top: -150px;
  }

  form.wufoo {
    top: -150px;
  }

  #social-media {
    top: -125px;
  }

  hr {
    width: 125px;
    border-width: .5em;
    top: -100px;
    left: calc((100% - 125px)/2);
  }
}
