html {
  background: url(bricks737x1104.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (orientation: landscape) and (min-width: 800px) {
  html {
    background: url(bricks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (orientation: portrait) and (min-height: 737px) {
  html {
    background: url(bricks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}


html,body {
  height:100%;
  width: 100%;
  background-color: rgba(50,50,50, .3);
  font-family: 'Montserrat';
}

#body-main {
  display:none;
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: 1;
}

#logo-main {
  position: absolute;
  width: 125vw;
  top: -25vw;
  left: -13vw;
  max-width: 960px;
  z-index: 2;
}

#pouring-soon {
  position:absolute;
  font-family: 'Montserrat';
  font-size: 18px;
  margin: 0;
  top: calc((125vw/16) + (125vw * .7) - 25vw);
  left: calc((100% - 150px)/2);
  z-index: 2;
}

#instructions {
  position: absolute;
  text-align: justify;
  top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw);
  left: calc((100% - 288px)/2);
}

form.wufoo {
  position: absolute;
  color: #231D1E;
  top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw + 50px);
  left: calc((100% - 268px)/2);
  z-index: 2;
}

#foli1 {
  display: inline-block;
}
#Field2 {
  color: #231D1E;
  background-color: #fff;
  padding: 8px 14px;
  border: 1px solid #000;
}

#submit-button {
  display: inline-block;
  background-color: #fff;
}
#saveForm {
  background-color: #fff;
  padding: 8px 14px;
  border: 1px solid #000;
}

@media (min-width: 768px) {
  #logo-main {
    top: -192px;
    left: calc((100% - 960px)/2);
  }

  #pouring-soon {
    top: 540px;
  }

  #instructions {
    top: 585px;
  }
}


/*@media (orientation: portrait) and (min-width: 960px) {
  #logo-main {
    top: -140px;
    left: calc(((100% - 960px)/2) - 9px);
  }
}

@media (orientation: landscape) {
  .logo {
    width: 90vh;
  }

  #logo-main {
    left: calc((100% - 90vh)/2);
  }
}*/

/*@media (orientation: landscape) and (min-width: 600px) {
  #pouring-soon {
    font-size: 24px;
    left: calc((100% - 170px)/2)
  }

  #Field2 {
    width: 332px;
  }

  form.wufoo {
    left: calc((100% - 385px)/2);
  }
}*/





/*#facebook-icon {
  position: absolute;
  width:32px;
  bottom: 15%;
  left: calc((100%/2) - 40px);
  z-index: 10;
}*/

/*#instagram-icon {
  position: absolute;
  width:32px;
  bottom: 15%;
  right: calc((100%/2) - 40px);
  z-index: 10;
}*/

/*.hide {
  display: none;
  visibility: hidden;
}*/

/*.form-control {
  display: inline-block;
}*/

/*form.wufoo {
  position: absolute;
  bottom: 10px;
  left: calc((100% - 260px)/2);
}*/

/*input {
  color: #000;
}*/

/*#Field2 {
  display:inline-block;
  padding: 6px 10px;
  height: 34px;
  width: 207px;
  border-radius: 4px;
  border: 1px solid #ccc;
}*/

/*#foli1 {
  display: inline-block;
}*/

/*#saveForm {
  display:inline-block;
  padding: 6px 10px;
  height: 34px;
  background-color: #e5e5e5;
  border-radius: 4px;
  border: 1px solid #ccc;
}*/

/*#submit-button {
  display: inline-block;
}*/

/*.subscribe-desc {
  color: #b2b2b2;
}*/






/*@media (orientation: portrait) and (min-width: 380px) {
  #pouring-soon {
    font-size: 24px;
    left: calc((100% - 170px)/2)
  }

  #Field2 {
    width: 247px;
  }

  form.wufoo {
    left: calc((100% - 300px)/2);
  }

}*/

/*@media (orientation: portrait) and (min-width: 415px) {
  #pouring-soon {
    font-size: 28px;
    left: calc((100% - 200px)/2)
  }
}*/

/*@media (orientation: portrait) and (min-width: 600px) {
  #Field2 {
    width: 332px;
  }

  form.wufoo {
    left: calc((100% - 385px)/2);
  }

  #pouring-soon {
    font-size: 32px;
    left: calc((100% - 225px)/2)
  }
}*/
