html {
  height: 100vh;
  width: 100vw;
  background: url(bricks737x1104.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (orientation: landscape) and (min-width: 800px) {
  html {
    background: url(bricks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (orientation: portrait) and (min-height: 737px) {
  html {
    background: url(bricks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}


body {
  height:100vh;
  position:flex;
  width: 100vw;
  margin: 0;
  background-color: rgba(50,50,50, .3);
  font-family: 'Montserrat';
}

#body-main {
  display:none;
  height: 100vh;
  width: 100vw;
  color: #fff;
  z-index: 1;
}

#logo-main {
  position: absolute;
  width: 125vw;
  top: -25vw;
  left: -13vw;
  max-width: 960px;
  z-index: 2;
}

#pouring-soon {
  position:absolute;
  font-size: 18px;
  margin: 0;
  top: calc((125vw/16) + (125vw * .7) - 25vw);
  left: calc((100vw - 150px)/2);
  z-index: 2;
}

#instructions {
  position: absolute;
  font-size: 14px;
  width: 295px;
  text-align: justify;
  top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw);
  left: calc((100vw - 295px)/2);
}

/*Email Subscription*/
form.wufoo {
  position: absolute;
  color: #231D1E;
  top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw + 50px);
  left: calc((100vw - 268px)/2);
  z-index: 2;
}
#foli1 {
  display: inline-block;
}
#Field2 {
  color: #231D1E;
  width: 199px;
  background-color: #fff;
  padding: 8px 14px;
  border: 1px solid #000;
  border-radius: 0px;
}
#submit-button {
  display: inline-block;
  background-color: #fff;
}
#saveForm {
  background-color: #fff;
  width: 65.5px;
  padding: 8px 14px;
  border-radius: 0px;
  border: 1px solid #000;
}
/*Email Subscription End*/

#social-media {
  position: absolute;
  display: block;
  top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw + 100px);
  left: calc((100vw - 68px)/2);
  z-index: 10;
}

hr {
  position:absolute;
  padding: 0;
  margin: 0;
  border-color: #DE890A;
  border-width: .3em;
  border-radius: 3px;
  width: 22vw;
  top: calc((125vw/16) + (125vw * .7) - 25vw + 8vw + 150px);
  left: calc((100vw - 22vw)/2);
}

.hide {
  display: none;
  visibility: hidden;
}



@media (min-width: 768px) {
  #logo-main {
    top: -192px;
    left: calc((100vw - 960px)/2);
  }

  #pouring-soon {
    top: 540px;
  }

  #instructions {
    top: 585px;
  }

  form.wufoo {
    top: 645px;
  }

  #social-media {
    top: 705px;
  }

  hr {
    width: 125px;
    border-width: .5em;
    top: 755px;
    left: calc((100vw - 125px)/2);
  }
}
