html, body {
  height:100%;
  margin: 0;
  color: #000;
  background-color: #fff;
  font-family: 'Montserrat';
}

#thank-you {
  position:absolute;
  font-size: 24px;
  top: 65%;
  left: calc((100% - 148px)/2);
  z-index: 3;
}

#logo-glass {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 352px;
  z-index: 2;
}

@media (min-width: 352px) {
  #logo-glass {
    left: calc((100% - 352px)/2);
  }
}

@media(min-width: 415px) {
  #thank-you {
    font-size: 28px;
    left: calc((100% - 173px)/2)
  }
}

@media (min-width: 600px) {
  #thank-you {
    font-size: 32px;
    left: calc((100% - 198px)/2)
  }
}

@media (orientation: landscape) {
  #logo-glass {
    width: 200px;
    left: calc((100% - 200px)/2);
  }
}

@media (orientation: landscape) and (min-height: 414px) {
  #logo-glass {
    width: 275px;
    left: calc((100% - 275px)/2);
  }
}

@media (orientation: landscape) and (min-height: 600px) {
  #logo-glass {
    width: 352px;
    left: calc((100% - 352px)/2);
  }
}
