html, body {
  height:100%;
  position: flex;
  color: #000;
  background-color: #fff;
  font-family: 'Montserrat';
}

#thank-you {
  position:absolute;
  font-size: 24px;
  top: 60%;
  left: calc((100% - 120px)/2)
}

#logo-glass {
  position: absolute;
  top: 35%;
  left: calc((100% - 50px)/2);
  z-index: 2;
}

@media(min-width: 415px) {
  #thank-you {
    font-size: 28px;
    left: calc((100% - 141px)/2)
  }
}

@media (min-width: 600px) {
  #thank-you {
    font-size: 32px;
    left: calc((100% - 161px)/2)
  }
}
